.alert-container {
    width: 98%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    position: fixed;
    z-index: 9999;
}
.icone {
    height: 45px;
    width: 35px;
}
.alert-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.4s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}

/* cores */
.alert-info {
    background-color: #d9ecff;
    color: #0b4f96;
}

.alert-success {
    background-color: #f0fff0;
}

.alert-danger {
    background-color: #fff4f4;
}
.mensagem {
    font-weight: 300;
}
/* animação */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}