.main {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.card-login {
    display: grid;
    gap: 2rem;
    height: auto;
    width: 410px;
    justify-content: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 32px 32px;
    border: 1px solid #e1e5e9;
}
.home {
    display: grid;
    height: 80px;
}
.titulo {
    font-size: 30px;
    color: #4b5563;
}
.sub-titulo {
    font-size: 16px;
    color: #4b5563;
}
.form {
    display: grid;
    gap: 1.5rem;
    width: 380px;
}
.inpts {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: 14px;
    color: #4b5563;
}
.input {
    height: 46px;
    width: 382px;
    padding-left: 10px;
    border-radius: 0.5rem;
    border: 1px solid #4b5563;
}
.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botao-entrar {
    height: 46px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #EF4444;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}
.nao-login {
    text-align: center;
    color: #4b5563;
}
.link-nao-login {
    color: #EF4444;
    text-decoration: none;
}