.main-pagina-inicial {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FAFAFA;
    min-height: 100vh;
    padding: 40px;
}
.conteudo {
    display: grid;
    width: 80vw;
    border-radius: 15px;
    background-color: #FDFDFD;
    gap: 32px;
    padding: 42px 38px;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: #181D27;
}
.subtitulo {
    font-size: 16px;
    color: #535862;
    font-weight: 400;
}
.btn-opcoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.importar {
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    padding: 10px 16px;
}
.modelo {
    display: flex;
    flex-direction: column;
}
.link-baixar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 131.38px;
    background-color: #F0F0F0;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
}
.icone-download {
    height: 20px;
    width: 20px;
}
.td {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-left: 20px;
}
.foto-prestador {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.iniciais {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #FFF1F2;
    color: #FF2B34;
}
.letras {
    font-weight: 600;
}
.icon {
    height: 20px;
    width: auto;
}
.icon.importar-icone {
    padding-right: 5px;
}
.adicionar {
    background-color: #FF2B34;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
}
.table.table-striped.table-bordered {
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    box-shadow: 0 1px 3px 0 rgba(10, 13, 18, 0.10), 0 1px 2px 0 rgba(10, 13, 18, 0.06);
    color: #535862;
}
thead tr th {
    background-color: #FAFAFA !important;
    border: none !important;
    border-bottom: 1px solid #E9EAEB !important;
    color: #535862 !important;
    text-align: center !important;
}

tbody tr td {
    text-align: center;
    border: none;
    box-shadow: none !important;
    color: #535862 !important;
    border-bottom: 1px solid #E9EAEB !important;
}
.td-1 {
    display: flex;
    flex-direction: column;
}
.link {
    text-decoration: none;
}
.link svg {
    height: 25px;
}